<section class="contact__section contact__section--bg" id="contact">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="contact__left">
                    <div class="section__heading mb-50">
                        <span class="section__heading--subtitle text__secondary">CONTACT</span>
                        <h2 class="section__heading--title mb-10">Let's work together! </h2>
                    </div>
                    <form class="contact__form">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6 mb-30">
                                <input class="contact__input--field" name="name" [(ngModel)]="name"
                                    placeholder="Your name" type="text">
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 mb-30">
                                <input class="contact__input--field" name="email" [(ngModel)]="email"
                                    placeholder="Your email" type="text">
                            </div>
                        </div>
                        <textarea class="contact__textarea--field" name="message" [(ngModel)]="message"
                            placeholder="Message"></textarea>
                        <button (click)="sendEmail()" class="contact__button primary__btn">Send Message</button>
                    </form>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="contact__info">
                    <div class="contact__info--items d-flex align-items-center">
                        <span class="contact__info--icon">
                            <svg width="25" height="34" fill="currentColor" stroke="currentColor"
                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                <path
                                    d="M164.9 24.6c-7.7-18.6-28-28.5-47.4-23.2l-88 24C12.1 30.2 0 46 0 64C0 311.4 200.6 512 448 512c18 0 33.8-12.1 38.6-29.5l24-88c5.3-19.4-4.6-39.7-23.2-47.4l-96-40c-16.3-6.8-35.2-2.1-46.3 11.6L304.7 368C234.3 334.7 177.3 277.7 144 207.3L193.3 167c13.7-11.2 18.4-30 11.6-46.3l-40-96z">
                                </path>
                            </svg>
                        </span>
                        <div class="contact__info--content">
                            <h3 class="contact__info--title">Call Me</h3>
                            <p class="contact__info--desc">
                                <a href="tel:+880254615566">+1 613-869-3981</a>
                            </p>
                        </div>
                    </div>
                    <div class="contact__info--items d-flex align-items-center">
                        <span class="contact__info--icon">
                            <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" class="feather feather-mail">
                                <path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z">
                                </path>
                                <polyline points="22,6 12,13 2,6"></polyline>
                            </svg>
                        </span>
                        <div class="contact__info--content">
                            <h3 class="contact__info--title">Email Me</h3>
                            <p class="contact__info--desc">
                                <a href="mailto:info@example.com">bradyxu831@gmail.com</a>
                            </p>
                        </div>
                    </div>
                    <div class="contact__info--items d-flex align-items-center">
                        <span class="contact__info--icon">
                            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor"
                                class="bi bi-geo-alt" viewBox="0 0 16 16">
                                <path
                                    d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z" />
                                <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                            </svg>
                        </span>
                        <div class="contact__info--content">
                            <h3 class="contact__info--title">Address</h3>
                            <p class="contact__info--desc">
                                Ottawa, Canada
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>