<button type="button" class="btn-close portfolio__modal--colse" aria-label="Close" (click)="modalRef.hide()">
    <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 24 24" fill="none" stroke="currentColor"
        stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x">
        <line x1="18" y1="6" x2="6" y2="18"></line>
        <line x1="6" y1="6" x2="18" y2="18"></line>
    </svg>
</button>
<div class="modal-body portfolio__modal--body">
    <h2 class="portfolio__modal--title text-center mb-30">{{portfolio.name}}</h2>
    <div class="portfolio__modal--info d-flex align-items-center mb-20">
        <div class="portfolio__modal--info--list">
            <p class="portfolio__modal--info--text">
                <span class="portfolio__modal--info__icon"><svg xmlns="http://www.w3.org/2000/svg" width="20"
                        height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                        stroke-linecap="round" stroke-linejoin="round" class="feather feather-file-text">
                        <path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path>
                        <polyline points="14 2 14 8 20 8"></polyline>
                        <line x1="16" y1="13" x2="8" y2="13"></line>
                        <line x1="16" y1="17" x2="8" y2="17"></line>
                        <polyline points="10 9 9 9 8 9"></polyline>
                    </svg></span>
                Type :
                <span class="portfolio__modal--info__name">{{portfolio.type}}</span>
            </p>
            <p class="portfolio__modal--info--text">
                <span class="portfolio__modal--info__icon"><svg xmlns="http://www.w3.org/2000/svg" width="20"
                        height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                        stroke-linecap="round" stroke-linejoin="round" class="feather feather-code">
                        <polyline points="16 18 22 12 16 6"></polyline>
                        <polyline points="8 6 2 12 8 18"></polyline>
                    </svg></span>
                TechStack :
                <span class="portfolio__modal--info__name">{{portfolio.techStack}}</span>
            </p>
        </div>
        <div class="portfolio__modal--info--list">
            <p class="portfolio__modal--info--text">
                <span class="portfolio__modal--info__icon">
                    <!-- <svg xmlns="http://www.w3.org/2000/svg" width="20"
                        height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                        stroke-linecap="round" stroke-linejoin="round" class="feather feather-user">
                        <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
                        <circle cx="12" cy="7" r="4"></circle>
                    </svg> -->
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                        class="bi bi-github" viewBox="0 0 16 16">
                        <path
                            d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z" />
                    </svg>
                </span>
                Git Repo :
                <a class="portfolio__modal--info__name" [href]="portfolio.github" target="_blank"
                    rel="noopener noreferrer">
                    Click Me!
                </a>
            </p>
            <p class="portfolio__modal--info--text">
                <span class="portfolio__modal--info__icon"><svg xmlns="http://www.w3.org/2000/svg" width="20"
                        height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                        stroke-linecap="round" stroke-linejoin="round" class="feather feather-external-link">
                        <path d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"></path>
                        <polyline points="15 3 21 3 21 9"></polyline>
                        <line x1="10" y1="14" x2="21" y2="3"></line>
                    </svg></span>
                Demo :
                <ng-container *ngIf="portfolio.webLink !== 'null'; then ClickMe else NA"></ng-container>
                <ng-template #ClickMe>
                    <a  class="portfolio__modal--info__name" [href]="portfolio.webLink" target="_blank"
                    rel="noopener noreferrer">
                    Click Me!
                </a>
                </ng-template>
                <ng-template #NA>
                    <span class="portfolio__modal--info__name">N/A</span>
                </ng-template>
            </p>
        </div>
    </div>
    <p class="portfolio__modal--info__desc mb-30">
        {{portfolio.descripotion}}
    </p>
    <div class="portfolio__modal--info__media">
        <div id="carouselExample" class="carousel slide">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img [src]="portfolio.picUrl[0]" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img [src]="portfolio.picUrl[1]" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img [src]="portfolio.picUrl[2]" class="d-block w-100" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</div>