<section class="skills__section section--padding pt-0">
    <div class="container">
        <div class="section__heading--topbar d-flex align-items-center justify-content-between mb-50">
            <div class="section__heading max-width-580">
                <span class="section__heading--subtitle text__secondary">SKILLs</span>
                <h2 class="section__heading--title">My Main Tech Stack</h2>
            </div>
        </div>

        <div class="skills__section--inner d-flex justify-content-between">
            <div class="skills__step">
                <div class="skills__items">
                    <div class="skills__text">
                        <span class="skills__name">C#</span>
                    </div>
                    <div class="skills__field width_85">

                    </div>
                </div>
                <div class="skills__items">
                    <div class="skills__text">
                        <span class="skills__name">.NET Core/framework</span>
                    </div>
                    <div class="skills__field width_85">

                    </div>
                </div>
                <div class="skills__items">
                    <div class="skills__text">
                        <span class="skills__name">SQL Server</span>
                    </div>
                    <div class="skills__field width_85">

                    </div>
                </div>
            </div>
            <div class="skills__step">
                <div class="skills__items">
                    <div class="skills__text">
                        <span class="skills__name">JavaScript</span>
                    </div>
                    <div class="skills__field width_85">

                    </div>
                </div>
                <div class="skills__items">
                    <div class="skills__text">
                        <span class="skills__name">TypeScript</span>
                    </div>
                    <div class="skills__field width_95">

                    </div>
                </div>
                <div class="skills__items">
                    <div class="skills__text">
                        <span class="skills__name">Angular</span>
                    </div>
                    <div class="skills__field width_85">

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>